/*------------------------------------------------------------------------------------------------------------- general styles --------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  background-image: url("../images/100.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  background-attachment: fixed; }
  body a {
    color: white; }

/*------------------------------------------------------------------------------------------------------------ navbar styles----------------------------------------------------------- */
.navbar {
  background-color: black;
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0; }
  .navbar li {
    list-style-type: none;
    background-color: black;
    color: white; }

.navbar a:hover {
  color: #e85bec !important; }

.navbar a {
  color: white !important;
  transition: all 1s ease-out; }

/*------------------------------------------------------------------------------------------------------------ navbar media query----------------------------------------- */
@media screen and (min-width: 1050px) {
  .navbar-nav ul {
    display: inline;
    display: flex;
    justify-content: flex-start; } }

@media screen and (max-width: 1050px) {
  .navbar-nav {
    min-height: 100vh;
    text-align: center;
    font-size: 3rem; }
  a {
    justify-content: center;
    text-decoration: none;
    padding: 0; } }

@media screen and (max-width: 450px) {
  .navbar-nav {
    font-size: 1.7rem; } }

@media screen and (max-width: 450px) {
  .navbar-brand {
    width: 50%; }
    .navbar-brand img {
      width: 100%; } }

@media screen and (max-width: 1050px) {
  .navbar {
    opacity: 0.8; } }

@media screen and (min-width: 1200px) {
  .social-media {
    margin-left: 28rem; } }

/*---------------------------------------------------------------------------------------------------- home main styles---------------------------------------------------------------- */
.home-image .main-img-overlay {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: -6rem;
  margin-bottom: 7rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.imagenes {
  width: 100%;
  background-color: transparent;
  color: transparent; }

.methology {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 7px;
  margin-top: 5rem; }

.testimonials {
  width: 100%;
  height: auto;
  margin-top: -6rem; }
  .testimonials .carousel-item {
    height: fit-content; }
    .testimonials .carousel-item img {
      margin-top: 6rem;
      width: 100%; }

.btn-guides {
  width: 100%;
  margin-top: 2rem;
  text-shadow: -1px 0 beige, 0 1px beige, 1px 0 beige, 0 -1px beige;
  color: black;
  background-color: #ec69ec;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none; }

.articles h6 {
  font-size: 120%;
  color: black; }

.articles:hover {
  cursor: pointer; }

.modal-content {
  background-color: #e2eafa; }

/*------------------------------------------------------------------------------------------------------ home small and xs media query------------------------------------------------- */
@media screen and (min-width: 1025px) {
  .card-img-overlay:hover {
    background-color: #000001;
    color: white;
    transition: all 1.5s ease-in; } }

@media screen and (min-width: 1025px) {
  .card-img-blur:hover {
    backdrop-filter: blur(5px); } }

@media screen and (max-width: 575px) {
  .imagenes {
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 2rem; }
    .imagenes h3 {
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; } }

@media screen and (max-width: 450px) {
  .main-img-overlay {
    font-size: 1rem;
    position: absolute;
    padding: 75px 0 0 0px; } }

/*# sourceMappingURL=style.css.map */
/*------------------------------------------------------------------------------------------------------------------- about me styles ------------------------------------------------*/
.container-fluid {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  .container-fluid .col-text h1 {
    font-size: 2rem;
    border-bottom: 2px solid white; }
  .container-fluid .col-text p {
    font-size: 1rem;
    line-height: 2rem; }

/*--------------------------------------------------------------------------------------------------------------------------------contact me styles----------------------------------- */
.background {
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 0 0;
  padding: 337px 0px 0 0px; }

.column textarea {
  resize: none;
  width: 185px; }

.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  height: 0rem;
  text-shadow: -1px 0 beige, 0 1px beige, 1px 0 beige, 0 -1px beige;
  padding-bottom: 28rem;
  padding-left: 1rem; }

.first-name {
  padding-bottom: 5%; }

.email {
  padding-top: 5%;
  padding-left: 37px; }

.subject {
  padding-top: 5%;
  margin-left: 9%; }

.submit {
  padding-left: 43%; }

.contact-me {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  font-size: 196%;
  padding-left: 25%; }

.contact-form {
  border-radius: 30px; }

.column input[type="submit"] {
  border-radius: 10px;
  width: 70%;
  background-color: beige; }

/*--------------------------------------------------------------------------------------------------------------------------------contact me styles sm devices------------------------ */
@media screen and (max-width: 575px) {
  .background {
    background-image: url("../images/contact-small.jpg");
    background-size: cover; } }

/*----------------------------------------------------------------------------------------------------- online personal training styles------------------------------------------------ */
.btn-book {
  width: 20%;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: black;
  background-color: #ec69ec;
  border-radius: 4px;
  text-transform: uppercase;
  text-shadow: -1px 0 beige, 0 1px beige, 1px 0 beige, 0 -1px beige; }

.online-personal-img {
  margin-top: 1rem; }

.online-text, .getting {
  font-size: 1.5rem; }

/* ..................................................................................................media query................................................................... */
@media screen and (min-width: 700px) {
  .online-text {
    margin-top: 2rem; } }

@media screen and (max-width: 450px) {
  .getting {
    margin-top: 4rem; } }

@media screen and (max-width: 450px) {
  .online-personal-img {
    margin-top: 1rem; } }

@media screen and (max-width: 450px) {
  .btn-book {
    width: 83%; } }

@media screen and (min-width: 700px) and (max-width: 1030px) {
  .btn-book {
    width: 33%; } }

/* -------------------------------------------------------------------------------------------------------------------------online guides styles---------------------------------------*/
.carousel-2 .img-fluid {
  filter: brightness(75%); }

.carousel-caption {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-bottom: 50px; }

.btn-buy {
  position: absolute;
  margin-top: -40px;
  text-shadow: -1px 0 beige, 0 1px beige, 1px 0 beige, 0 -1px beige;
  color: black;
  background-color: #ec69ec;
  border-radius: 4px;
  text-transform: uppercase; }

.card-deck button {
  text-shadow: -1px 0 beige, 0 1px beige, 1px 0 beige, 0 -1px beige;
  color: black;
  background-color: #ec69ec;
  border-radius: 4px;
  text-transform: uppercase;
  margin-left: 11rem; }

/*----------------------------------------------------------------------------------------------------------------------- media query ---------------------------------------------*/
@media screen and (max-width: 1050px) {
  .card-deck button {
    margin: auto; } }

@media screen and (min-width: 1024px) {
  .card-deck {
    margin-top: 2rem;
    margin-left: 10rem; } }

@media screen and (max-width: 769px) {
  .card-deck {
    margin-top: 2rem; } }

@media screen and (max-width: 430px) {
  .carousel-caption p {
    display: none; }
  .carousel-caption h1, .carousel-caption h2 {
    font-size: large;
    margin-bottom: 3rem; } }

/*------------------------------------------------------------------------------------------------------------------------------- footer styles ---------------------------------------*/
.social-media2 {
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  padding: 0px 50px 0px 1300px;
  text-decoration: none;
  color: #ffffff !important; }

footer {
  background-color: transparent;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: 2rem; }
  footer a {
    color: white;
    transition: all 1s ease-out;
    z-index: 9;
    line-height: 0px; }

@media all and (min-width: 1025px) {
  footer a:hover {
    transform: rotateX(360deg);
    color: #b675f3; } }

.trade-mark {
  font-size: small;
  transition: all 1s ease-out;
  position: relative;
  line-height: 0px; }

@media all and (min-width: 1025px) {
  .trade-mark:hover {
    transform: rotateY(10deg);
    color: #b675f3; } }

.scroll-down-arrow {
  position: fixed;
  width: 50px;
  height: 0;
  bottom: 40px;
  right: -18px;
  color: white;
  z-index: 8;
  transform: none;
  transition: none; }

/*------------------------------------------------------------------------------------------------------ footer small and xs media query--------------------------------------------- */
@media screen and (max-width: 1025px) {
  .social-media2, .scroll-down-arrow {
    display: none; } }

@media screen and (max-width: 575px) {
  .trade-mark {
    font-size: 65%; } }
