@import "../properties/variables";

/*------------------------------------------------------------------------------------------------------------ navbar styles----------------------------------------------------------- */

.navbar {
  background-color: black;
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;

  li {
    list-style-type: none;
    background-color: black;
    color: $text-color;
  }
 
}
.navbar a:hover {
  color: rgb(232, 91, 236) !important;
}

.navbar a{
  color: $text-color !important;
  transition: all 1s ease-out;
}
/*------------------------------------------------------------------------------------------------------------ navbar media query----------------------------------------- */

@media screen and (min-width: 1050px) {
  .navbar-nav{
    ul{
      display: inline;
      display: flex;
      justify-content: flex-start;
    }
  }
  }

@media screen and (max-width: 1050px) {
  .navbar-nav {
    min-height: 100vh;
    text-align: center;
    font-size: 3rem;
  }

  a {
    justify-content: center;
    text-decoration: none;
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .navbar-nav {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 450px) {
  .navbar-brand {
    width: 50%;
    img{
      width: 100%;
    }
  }
}
@media screen and (max-width: 1050px) {
  .navbar {
    opacity: 0.8;
  }
}
@media screen and (min-width: 1200px) {
  .social-media{
    margin-left: 28rem;
  }
}