@import "../properties/variables";
@import "../properties/mixins";

/* -------------------------------------------------------------------------------------------------------------------------online guides styles---------------------------------------*/
.carousel-2 .img-fluid {
  filter:brightness(75%);
}
.carousel-caption {
  text-shadow: $text-shadow;
  padding-bottom: 50px;
}

.btn-buy {
  position: absolute;
  margin-top: -40px;
  text-shadow: $beige-text-shadow;
  @include boton (black, rgb(236, 105, 236), 4px, uppercase);
}

.card-deck button {
  text-shadow: $beige-text-shadow;
  @include boton (black, rgb(236, 105, 236), 4px, uppercase);
  margin-left: 11rem;
}
/*----------------------------------------------------------------------------------------------------------------------- media query ---------------------------------------------*/
@media screen and (max-width: 1050px) {
  .card-deck button {
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .card-deck {
    margin-top: 2rem;
    margin-left: 10rem;
  }
}

@media screen and (max-width: 769px) {
  .card-deck {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 430px) {
  .carousel-caption {
    p{
      display: none;
    }
    h1, h2{
      font-size: large;
      margin-bottom: 3rem;
    }
  }
}

