@import "../properties/variables";
@import "../properties/mixins";
/*----------------------------------------------------------------------------------------------------- online personal training styles------------------------------------------------ */
.btn-book{
  display: flex;
  width: 35%;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  margin-left: 40rem;
  @include boton(black, pink, 10px, none );
  text-shadow: $beige-text-shadow;
}

  
  /* ..................................................................................................media query................................................................... */
@media screen and (max-width: 380px){
  .online-image{
    margin-top: 2rem;
  }
}

@media screen and (min-width: 380px) and (max-width: 450px){
  .online-image{
    margin-top: 6rem;
  }
}